body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
  display: flex;
  justify-content: space-between;
  background-color: black;
  text-align: center;
  padding: 20px 75px;
}

.logo img {
  width: 100px;
}



.slidder{
  width: 100%;
  height: 60vh;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar .nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.btn-white{
  border-radius: 50px;
  border: solid 1px white;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.btn-red{
  border-radius: 50px;
  border: solid 1px red;
  padding: 10px 20px;
  background-color: red;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

